.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;

    // padding-top: 42px;
    input {
        margin-bottom: 17px;
        border-radius: 9px;
        border: 1px solid #9D9D9D;
        background: #FFF;
        height: 57px;

        &::placeholder {
            padding-left: 25px;
            color: #808080;
            font-family: "Inter";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}