.hero-main {
  position: relative;
  width: 100%;
  .hero-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    background: var(--secbackcolor);

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      position: relative;
      z-index: 4;
      h1 {
        color: var(--greycolor);
        text-align: center;
        font-family: "Readex Pro";
        font-size: 84.058px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -3.362px;
        text-transform: uppercase;
        margin: 0px;
        span {
          background: linear-gradient(92deg, #33539e -15.2%, #2f4d8a 102.24%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .hero-rot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @keyframes rotateImage {
        0% {
          transform: rotate(0deg);
        }
        20% {
          transform: rotate(72deg);
        }
        40% {
          transform: rotate(144deg);
        }
        60% {
          transform: rotate(216deg);
        }
        80% {
          transform: rotate(288deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .hero-img {
        animation: rotateImage 15s infinite linear;
        width: 600px;
        height: 700px;
      }
    }
  }

  .topscroll {
    position: fixed;
    z-index: 99;
    right: 100px;
    bottom: 100px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1280px) {
  .hero-main {
    .hero-sec {
      .hero-content {
        h1 {
          font-size: 60px;
          line-height: 100%;
        }
      }
      .hero-rot {
        .hero-img {
          width: 500px;
          height: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-main {
    .hero-sec {
      height: unset;
      padding: 140px 0px;
      .hero-content {
        padding: 40px;
        gap: 10px;
        h1 {
          font-size: 30px;
          line-height: 100%;
        }
        .para-small {
          font-size: 18px;
          text-align: center;
        }
      }
      .hero-rot {
        .hero-img {
          width: 100%;
          height: unset;
          object-fit: cover;
        }
      }
    }

    .topscroll {
      position: fixed;
      z-index: 99;
      right: 30px;
      bottom: 30px;
      width: 40px;
      object-fit: cover;
      height: 40px;
      cursor: pointer;
    }
  }
}
